html, body {
	height: 100%;
}
body {
    color: #fff;
    font-family: "Open Sans",sans-serif;
	background: url(../../img/login/fondof.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/**********************************************************************/
/************************** COMMON ELEMENTS **************************/
/********************************************************************/
.clear{clear:both;}/* clear float */
a:focus {
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
/** Custom styles **/
.vis-hidden {
	visibility: hidden !important;
}
a {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

#mainWrap {
	min-height: 100%;
	overflow: auto;
	padding-bottom: 96px;
}
/**********************************************************************/
/************************** LOGIN CONTAINER **************************/
/********************************************************************/

#loggit {
	background: url(../../img/login/flogin.png);
	width: 350px;
	margin: 5% auto 0;
	padding: 20px 40px;
}
#loggit h1 {
	text-align: center;
	font-weight: 700;
	margin: 5px 0 15px;
}
#loggit h3 {
	text-align: center;
	font-size: 18px;
	color: #bbb;
	margin: 0 0 20px;
}
#loggit .input-group-addon {
	border: 0 none;
}
#loggit .form-control {
	border: 0 none;
}
#loggit .form-control:focus {
	box-shadow: none;
}
#loggit .formSubmit {
	margin-bottom: 25px;
}
#loggit .submitWrap {
	text-align: right;
}
#loggit .formNotice {
	margin: 0;
	font-size: 13px;
}
#loggit .formNotice span {
	cursor: pointer;
	color: #428BCA;
}
#loggit .formNotice span:hover,
#loggit .formNotice span:focus {
    color: #2A6496;
    text-decoration: underline;
}
#loggit #regForm {
	display: none;
}
/**********************************************************************/
/************************* FOOTER ************************************/
/********************************************************************/
footer {
	background: none repeat scroll 0 0 #111111;
    height: 76px;
    margin-top: -76px;
    position: relative;
	text-align: center;
	padding: 20px 0;
}
footer p {
	color: #CCCCCC;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
	padding: 0 5px;
	font-size: 16px;
}

/*start-account*/
.account{
	float:right;
	width: 45%;
}
.account h2 a{
	color:#71B8E4;
	display: block;
	font-size: 1.3em;
	font-weight: 400;
	text-align:right;
	margin-top: 3px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.account h2 a:hover{
	color:#79B42B;
}
.sp {
	margin-top: 2%;
	display: block;
	width: 100%;
	background: #3B5998;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.sp img {
	background:#354F88;
	padding: 7px;
	float: left;
}
.sp i {
	color: #fff;
	padding: 9px 14px;
	float: left;
	font-size: 1.6em;
	font-weight: 400;
}
.sp:hover {
	background:#354F88;
}
.sp1 {
	margin-top: 2%;
	width: 100%;
	background: #45B0E3;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.sp1 img {
	background: #40A2D1;
	padding: 7px;
	float: left;
}
.sp1 i {
	color: #fff;
	padding: 9px 20px;
	float: left;
	font-size: 1.6em;
	font-weight: 400;
}
.sp1:hover {
	background:#40A2D1;
}
.sp2 {
	margin-top: 2%;
	width: 100%;
	background: #DE4C34;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.sp2 img {
	background: #CE3E26;
	padding: 7px;
	float: left;
}
.sp2 i {
	color: #fff;
	padding: 9px 17px;
	float: left;
	font-size: 1.6em;
	font-weight: 400;
}
.sp2:hover {
	background: #CE3E26;
}
/*end-account*/

 /* skin-blue logo */
 .modal .logo {
   background-color: #367fa9;
   color: #f9f9f9;
 }
 .modal .logo > a {
   color: #f9f9f9;
 }
 .modal .logo:hover {
   background: #357ca5;
 }

/**********************************************************************/
/****************** MEDIA QUERIES ************************************/
/********************************************************************/

@media(max-width:979px){


}
@media (max-width: 768px) {
	body {
		padding-bottom: 0;
	}
	#loggit {
		margin-top: 0;
		width: 100%;
	}
	#loggit .submitWrap {
		margin-top: 15px;
		text-align: center;
	}
	footer {
		position: relative;
	}
	footer p{
		font-size: 13px;
	}
	
}
@media (max-width: 500px) {
	#loggit {
		width: 100%;
	}
}
